npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/*

env/*
!env/default.yml

node_modules/


    "eslint-config-standard": ">=12.0.0",
    "eslint-plugin-node": ">=8.0.1",
    "eslint-plugin-standard": ">=4.0.0",
