<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    Hi there,<br>
    <br>
    To reset your password, click <a href="{{ link }}" target="_blank">here</a><br>
    <br>
    Best regards,<br>
    <strong>The Daisy Team</strong>
  </body>
</html>
